.Number-root {
    display: flex;
}

.Number-item {
    height: 48px;
    width: 48px;
    padding: 0;
    margin: 0px 4px;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    line-height: 48px;
}
.Number-input {
    font-size: 16px;
    border-color: #aaaaaa;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}
.Number-input.disabled {
    border-color: #dddddd;
}
.Number-input:focus {
    outline: none;
    border-color: #42A5F5;
}

.Number-btn {
    font-size: 32;
    border-color: #42A5F5;
    color: #42A5F5;
    user-select: none;
}

.Number-btn.disabled {
    border-color: #BBDEFB;
    color: #BBDEFB;
    pointer-events: none;
}